<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css">

    <title>Library</title>
</head>
<body>
    

    <form onsubmit="handleForm(event)">
        <label for="book">Enter name of book:</label>
        <input id="book" type="text" name="book" placeholder="Enter name of the book....">
        <button type="submit">Borrow</button>

        
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>
